This XML file does not appear to have any style information associated with it. The document tree is shown below.
<ArrayOfKeyValueOfstringanyType xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
<KeyValueOfstringanyType>
<Key>Version</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">7.11.0.0</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>LogFilePath</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">C:\Users\WDAGUtilityAccount\Documents\Green Button Go\Log Files\</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>LogFileExtension</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">.txt</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>DiagnosticsLogFilePath</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">C:\Users\WDAGUtilityAccount\Documents\Green Button Go\Log Files\Diagnostics\</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>ComplianceMode</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>IgnoreMessage</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">Ignore</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>RetryMessage</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">Retry</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>StopMessage</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">Stop</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>ModifyMessage</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">Modify</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>DebugMode</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>UseLegacyLogFormat</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Recent Programs</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">C:\Users\WDAGUtilityAccount\Documents\Green Button Go\Program 1\Program 1.gbg,C:\Users\WDAGUtilityAccount\Documents\Green Button Go\Program 2\Program 2.gbg</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Asynchronous Error Reporting</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>SilenceLicenseWarning</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>LastUserLogin</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">Administrator</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Loaded Untitled</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Name of last runtime data view</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">Gantt Chart (All Labware)</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Storage Window Width</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:double">1200</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Storage Window Height</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:double">750.40000000000009</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Storage Window Maximized</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>SplitFiles</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Common Script References</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">Microsoft.CSharp.dll</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>RunTab.IntegrationColumnDefinitionWidth</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:double">500</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>RunTab.WorkflowColumnDefinitionWidth</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:double">500</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>GreenButtonGoProgramsFolder</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">C:\Users\WDAGUtilityAccount\Documents\Green Button Go\</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>HomeTileScale</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:double">1</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Show Process Tab</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Show Schedule Tab</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>Show Scheduler Trace</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>ScreensUseMetroTheme</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>ScreensUseVariableScrollbarKey</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>MaxEventsOnUtilizationGanttChart</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">500</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>PasswordRules.Repeated Password Not Allowed</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>PasswordRules.Must Contain Symbol</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>PasswordRules.Require Upper and Lower Case Letters</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>PasswordRules.Minimum Password Length</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">8</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>PasswordExpires</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>PasswordExpirationPeriodInDays</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">90</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>TempPasswordExpirationPeriodInHours</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">24</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>ResetPasswordExpirationPeriodInHours</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">1</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>NumberOfInvalidLoginAttemptsAllowed</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">5</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>SystemIdleLoginTimeout</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:double">1</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>InactiveAccountLockoutPeriodInDays</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">30</Value>
</KeyValueOfstringanyType>
<KeyValueOfstringanyType>
<Key>UseRoslynCSharpCompiler</Key>
<Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
</KeyValueOfstringanyType>
</ArrayOfKeyValueOfstringanyType>